{% include 'incl/header.twig' %}

<body>
{% include 'incl/technologies.twig' %}
    <div class="main" role="main">
        <div class ="landingpage">
            {{ content }}
        </div>
    </div>  

</body>

</html>