body {
    background-color: $background-color-techno;
    max-width: $max-width;
    margin: auto;
    line-height: 1.4;
    padding: 0.1em;    
}

.main {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    background-color: $background-alternative-color;
}

code {
    font-family: Consolas,'courier new';
    background-color: $background-color-techno;
}

pre {
    font-family: Consolas,'courier new';
    background-color: $background-color-techno;
}

/* img {
    width: 20%;
    height: auto;
    padding: 16px;
  } */

@media only screen and (max-width: 800px) {
    /* For desktop: */
    body {
        max-width: auto;
        margin: 0;
    }
}
