* {
    font-family: 'Roboto', sans-serif;
    color: $font-color;    
}

html {
    font-size: 100%;
}

p {
    font-size: 1.25em;
    margin-bottom: 0.75rem;
    padding: 24px;
    color: $font-color;
    line-height: 2em;
    margin-left: 20%;
}

.nav a,
.nav-toggle {
    color: $font-color;
}

li {
    color: $font-color;
    border-style: solid; 
}

li a:hover {
    color: #82ddf0;
}

a {
    color: $font-color;
    text-shadow: 0.5px 0.5px $side-color-techno;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: $font-color;
    padding: 24px;
    margin-left: 20%;
}

h1 {
    font-size: 2.8em;
    color: $font-color;
    text-shadow: 0.5px 0.5px $side-color-techno;       
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
