/*Colors light*/
$font-color: #141414;
$background-alternative-color: #fcd7ad;

/* Technology */
$background-color-techno: #5296a5;
$side-color-techno: #fde8cd;
$box-color-techno: #00917c;

/*Widths and heights*/

$max-width: 60%;
