/*Colors light*/
$font-color: #333;
$background-alternative-color: #f7c873;

/* Technology */
$background-color-techno: #faebcd;
$side-color-techno: #fde8cd;
$box-color-techno: #00917c;

/*Widths and heights*/

$max-width: 60%;
