/*Colors light*/
$font-color: #fff;
$background-color: #a45d5d;
$background-alternative-color: #f7c873;

/*Colors dark*/
$background-alternative-color: #495057;
$background-color-techno: #343A40;


/* Technology */
$side-color-techno: #fde8cd;
$box-color-techno: #00917c;

/*Widths and heights*/

$max-width: 60%;
