{% include 'incl/header.twig' %}

<body>
{% include 'incl/nav.twig' %}
    <div class="technology" role="main">
        <div class ="page">
            {{ content }}
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>
</html>